#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #121314;
  min-height: 100vh;
}

.App {
  background: #5b3e6b;
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.07);
  padding: 2rem;
  margin-top: 2rem;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: #0074D9;
  margin-bottom: 1.5rem;
}

label {
  font-weight: 500;
  margin-right: 0.5rem;
}

select {
  padding: 0.4em 1em;
  border-radius: 6px;
  border: 1px solid #8db0df;
  font-size: 1em;
  background: #6353be;
  margin-left: 0.5em;
}

svg {
  margin-top: 1.5em;
  background: #3585c2;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.04);
}

p {
  margin-top: 1.5em;
  color: #555;
  font-size: 13px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #f7efef;
}